[flake8]
extend-ignore = E251, # unexpected spaces around keyword / parameter equals
                E261, # at least two spaces before inline comment
max-line-length = 160
exclude = .git/,
	  __pycache__,
          scripts,
