{% extends 'base.html' %}

{% block body %}
<div class="form">
  {% if error %}
  <div class="form-error">{{ error }}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="text" value="{{ user.email }}" disabled="disabled" />
    <input type="password" name="password" value="{{ values.password }}" placeholder="Password" />
    <button type="submit">Update</button>
    <a id="delete-account" href="{% url 'delete-account' %}">Delete account</a>
  </form>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function() {
    $('#delete-account').click(function(e) {
      if (!confirm('Are you sure you want to delete your account?')) {
        e.preventDefault();
      }
    });
  });
</script>
{% endblock %}
