{% extends 'base.html' %}

{% block body %}
<div class="form">
  {% if error %}
  <div class="form-error">{{ error }}</div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="password" name="password" value="{{ values.password }}" placeholder="Password" />
    <input type="hidden" name="token" value="{{ values.token }}" />
    <input type="hidden" name="email" value="{{ values.email }}" />
    <input type="hidden" name="next" value="{{ values.next }}" />
    <button type="submit">Change</button>
  </form>
</div>
{% endblock %}
